.c-container {
  justify-content: space-between;
  gap: 1rem;
}

.c-container > div {
  flex: 1;
}

.c-left {
  gap: 0.5rem;
}

.c-right {
  width: 100%;
}
.contact-modes {
  margin-top: 2rem;
  gap: 1rem;
}

.contact-modes .row {
  gap: 1.5rem;
}
.image-container > img {
  width: 100%;
  height: 100%;
}
.mode {
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 0.3s ease-in;
}

.mode > :nth-child(1) {
  background: white;
  gap: 1.6rem;
  width: 100%;
}

.mode .detail .primaryText {
  font-weight: 600;
  font-size: 1.1rem;
}

.mode .button {
  width: 100%;
  background: var(--lightBlue);
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .c-container {
    flex-direction: column;
  }
  .contact-modes {
    width: 100%;
  }
  .c-right {
    justify-content: center;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .mode {
    width: 100%;
  }
}
